name: Latest blog post workflow
on: 
    workflow_dispatch:
    schedule:
        - cron: '0 7 * * 1,6,7'
jobs: 
    update-readme-with-blog: 
        name: Update this repo's README with latest blog posts
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout
              uses: actions/checkout@v2
            - name: Pull in dev.to posts
              uses: gautamkrishnar/blog-post-workflow@master
              with: 
                feed_list: "https://vergaracarmona.es/feed/"
                max_post_count: "20"
                readme_path: ./README.md
                comment_tag_name: "APUNTES"
                date_format: UTC:dd/mm/yyyy
                template: "<tr><td>$randomEmoji $title</td><td>$url</td><td>$date</td><td>Category</td></tr>"

